<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

<!DOCTYPE html>
<html lang="en">

<div class="header">
    <h1>
      Wildlife Killer Homepage
    </h1>

    {% if logged_in %}

    <p>Welcome back <strong>{{ current_user }}</strong>!</p>

    <a href="{{ url_for('profile_get') }}">My Profile</a>
    <a href="{{ url_for('auth.logout_get') }}">Log Out</a>

    {% else %}

    <p><a href="{{ url_for('auth.login_get') }}">Log in / Register</a></p>
    <a href="{{ url_for('auth.signup_get') }}">Sign Up</a>

    {% endif %}

</html>
