<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Wildlife Killer {{ self.title() }}</h1>
      {% if "username" in session %}
      <a href="{{ url_for('profile_get') }}">My Profile</a>
      <a href="{{ url_for('auth.logout_get') }}">Log Out</a>
      {% else %}
      <a href="{{ url_for('auth.login_get') }}">Log in / Register</a>
      <a href="{{ url_for('auth.signup_get') }}">Sign Up</a>
      {% endif %}
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <p class="flashes {{ category }}">{{ message }}</p>
      {% endfor %}
      {% endif %}
    {% endwith %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
