<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<h1 class="text-center pb-4">Battle</h1>
<div class="row justify-content-between">
  <div class="col-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Player</h5>
        <p class="card-text mb-1">Health</p>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width: {{ user['health'] }}%" role="progressbar">
            {{ user['health'] }} / 100
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ weapon["name"] }}</h5>
        <p class="card-text mb-2">
          Durability
          <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width: {{ weapon['durability'] / weapon['max_durability'] * 100 }}%">
              {{ weapon['durability'] }} / {{ weapon['max_durability'] }}
            </div>
          </div>
          Damage: {{ weapon['damage_dice'] }}<br>
          Accuracy: {{ weapon['accuracy'] }}<br>
        </p>
        <form action="{{ url_for('battle.battle_post') }}" method="POST">
          <input type="hidden" name="fish_health" value="{{ fish['stats']['health'] }}">
          <input type="hidden" name="fish_species" value="{{ fish['scientific_name'] }}">
          <button type="submit" class="btn btn-primary">Attack!</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-2 text-center my-auto">
    <h3>VS</h3>
  </div>
  <div class="col-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ fish["common_name"] }}</h5>
        <p class="card-text">
          {{ fish["scientific_name"] }}<br>
          {{ fish["status"] }}
        </p>
        <p class="card-text mb-1">Health</p>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width: {{ fish['stats']['health'] / fish['stats']['max_health'] * 100 }}%">
            {{ fish['stats']['health'] }} / {{ fish['stats']['max_health'] }}
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stats</h5>
        <p class="card-text">
          Damage: {{ fish["stats"]["damage"] }}<br>
          Accuracy: {{ fish["stats"]["accuracy"] }}<br>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
