<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="col-md-9 mx-auto text-center">
  <h1 class="fw-semibold">Kill threatened, endangered, and extinct species with Wildlife Killer!</h1>
</div>

<div class="">
  <div class="row">
    <div class="mx-auto">
      <h2>How to Play</h2>
      <p>You are given a starter weapon and 100 gold when signing up for the game. To battle, you must equip the weapon and kill the fish before the fish either kills you or your weapon durability dies out. Once you win a battle, you capture the fish and have the chance to earn gold. You may sell fish for gold at the shop. If you lose health during a battle, you will be charged gold to recover to full health. If your weapon loses durability, you will lose the battle.</p>
    </div>
    <div class="mx-auto">
      <h2>Travelling</h2>
      <p>Each region has a different probability of species appearing. To travel, you can access the travel page on the navbar and then select the country on the page. </p>
    </div>
  </div>
</div>

{% endblock %}
