<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="col-md-9 mx-auto text-center fw-semibold">Kill threatened, endangered, and extinct species with Wildlife Killer!</h1>

<div class="mx-auto">
  <h2>How to Play</h2>
  <p>You are given a starter weapon and 100 gold when signing up for the game. You can fish to catch weapons, battle fish, or find gold. Weapons and fish have differing damage and accuracy. You can view these stats for the fish you have caught and the weapons you have found in your profile page. If you die during a battle, you will be charged 50 gold to restore up to max health. Your weapon loses durability after each attack, and if it breaks, you lose the battle.</p>
</div>
<div class="mx-auto">
  <h2>Traveling</h2>
  <p>Each region has a different probability of species appearing. To travel, you can access the travel page on the navbar and then select the country on the page. You can only travel to countries that are adjacent to your current one. It costs 10 gold to travel between countries.</p>
</div>
<div class="mx-auto">
  <h2>Shopping</h2>
  <p>You can spend your gold on weapons or sell fish for gold in the shop. With each visit, the shop randomly pulls from a pool of weapons. There are six weapons in the pool by default, but as you discover new weapons by fishing, they get added to the pool! You also have the opportunity to sell six random fish in your inventory!</p>
</div>

{% endblock %}
