<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="credentials">
  <form action="{{ url_for('auth.login_post') }}" method="POST"> <!--assigns route to home/other pages after form is submitted, placeholder for now-->
    <p><strong>Username<strong></p>
    <input type="text" name="username" placeholder="Username" title="CASE SENSITIVE!">
    <br>
    <p><strong>Password<strong></p>
    <input type="password" name="password" placeholder="Password" title="CASE SENSITIVE!">
    <p></p>
    <button type="submit" title="Log in?">Login</button>
  </form>
</div>

{% endblock %}
