<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<p>Welcome, <strong>{{ current_user }}</strong>!</p>

<p>Current country: <strong>{{ country }}</strong></p>
<p>Current balance: <strong>{{ balance }}</strong></p>

<h3>Fish Owned</h3>
{% for fish in all_fish %}
<li><strong>{{fish[0]}}:</strong> {{fish[1]}}</li>
{% endfor %}

<h3>Weapons Owned</h3>
{% for weapons in all_weapons %}
<li><strong>{{weapons[0]}}:</strong> Durability {{weapons[1]}}</li>
{% endfor %}

{% endblock %}
