<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<p>Welcome, <strong>{{ session["username"] }}</strong>!</p>

<p>Current health: <strong>{{ user["health"] }}</strong></p>
<p>Current country: <strong>{{ user["country"] }}</strong></p>
<p>Current balance: <strong>{{ user["balance"] }}</strong></p>
<p>Equipped Weapon: <strong>{{ user["equipped_weapon"] }}</strong></p>

<h3>Fish Owned</h3>
{% if all_fish_owned %}
  {% for fish in all_fish_owned %}
    <li><strong>{{fish["scientific_name"]}}:</strong> {{fish["number_owned"]}}</li>
  {% endfor %}
{% else %}
  <p>No fish owned</p>
{% endif %}


<h3>Weapons Owned</h3>
<h6>Name(# owned): Durability</h6>
<!-- THIS IS BROKEN -->
{% if all_weapons_owned %}
  {% for weapons in all_weapons_owned %}
  <!-- Have equipped status and equip button for non-equipped weapons-->
    {% if weapons["name"] != user["equipped_weapon"] %}
      <form action="{{ url_for('profile_post') }}" method="POST">
        <p><strong>{{weapons["name"]}}({{weapons["number_owned"]}}):</strong> {{weapons["durability"]}} <button type="submit" value="{{weapons['name']}}" name="weapon" class="btn btn-primary">Equip</button></p>
      </form>
      {% else %}
      <p><strong>{{weapons["name"]}}({{weapons["number_owned"]}}):</strong> {{weapons["durability"]}}</>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No weapons owned</p>
{% endif %}

{% endblock %}
