<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}

<h1 class="col-md-9 mx-auto text-center">Shop</h1>

<h4>Current balance: <strong>{{ user["balance"] }} Gold</strong></h4>

<h3 class="col-md-9 mx-auto text-center">Weapons</h3>
<p>The local blacksmith is offering the following weapons for sale...</p>

{% for j in range(2) %}
  <div class="card-deck">
      {% for i in range(3) %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ weapons[j * 3 + i]["name"] }}</h5>
            <p class="card-text">
              Damage: {{ weapons[j * 3 + i]['damage_dice'] }}<br>
              Durability: {{ weapons[j * 3 + i]['max_durability'] }}<br>
              Accuracy: {{ weapons[j * 3 + i]['range'] }}<br>
              <form action="{{ url_for('buy_weapon') }}" method="POST">
                <input type="hidden" name="weapon_name" value="{{ weapons[j * 3 + i]['name'] }}">
                <input type="hidden" name="weapon_price" value="{{ weapons[j * 3 + i]['price'] }}">
                {% if user["balance"] < weapons[j * 3 + i]['price'] %}
                  <button type="submit" class="btn btn-warning text-danger" title="Not enough gold!" disabled>{{ weapons[j * 3 + i]['price'] }} Gold</button>
                {% else %}
                  <button type="submit" class="btn btn-warning">{{ weapons[j * 3 + i]['price'] }} Gold</button>
                {% endif %}
              </form>
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
{% endfor %}


<h3 class="col-md-9 mx-auto text-center">Fish</h3>

{% if random_fish %}
<p>The local aquarium is looking for some exotic fish! They are offering to buy the following fish from you...</p>

<div class="card-columns">
  {% for fish in random_fish %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ fish[0]["scientific_name"] }}</h5>
        <p class="card-text">
          Number owned: {{ fish[1] }}<br>
          <form action="{{ url_for('sell_fish') }}" method="POST">
            <input type="hidden" name="fish_name" value="{{ fish[0]['scientific_name'] }}">
            <input type="hidden" name="fish_price" value="{{ fish[2] }}">
            <button type="submit" class="btn btn-warning">{{ fish[2] }} Gold</button>
          </form>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<p>You do not own any fish to sell.</p>
{% endif %}
{% endblock %}
