<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}

{% for j in range(2) %}
  <div class="card-deck">
      {% for i in range(3) %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ weapons[j * 3 + i]["name"] }} - {{ weapons[j * 3 + i]['price'] }} Gold</h5>
            <p class="card-text">
              Damage: {{ weapons[j * 3 + i]['damage_dice'] }}<br>
              Durability: {{ weapons[j * 3 + i]['max_durability'] }}<br>
              Accuracy: {{ weapons[j * 3 + i]['range'] }}<br>
              <form action="{{ url_for('shop_post') }}" method="POST">
                <input type="hidden" name="weapon_name" value="{{ weapons[j * 3 + i]['name'] }}">
                <input type="hidden" name="price" value="{{ weapons[j * 3 + i]['price'] }}">
                <button type="submit" class="btn btn-primary">Buy</button>
              </form>
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
{% endfor %}

{% endblock %}
