<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}

<p>To register a new account, please input a <strong> username</strong> and <i>strong</i> <strong>password</strong> combination below!</p>

<div class = "credentials">
  <form action="{{ url_for('auth.signup_post') }}" method="post">
    <p><strong>Username<strong></p>
    <input type="text" name="username" placeholder="Username" title="CASE SENSITIVE!">
    <br>
    <p><strong>Password<strong></p>
    <input type="password" name="password" placeholder="Password" title="CASE SENSITIVE!">
    <p></p>
    <button type="submit" title="Register?">Register</button>
  </form>
</div>

{% endblock %}
