<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block content %}

<div class="container mb-4">
  <div class="row g-4">
        <div class="accordion" id="accordionExample">
          {% for title, content in accordion_data %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                    {{ title }}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                 <div class="accordion-body">
                   {{ content|safe }}
                 </div>
             </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
