<!--
 Sean Takahashi, Ivan Chen, James Lei, Eviss Wu
 Bell Peppers
 SoftDev
 P01
 2025-12-22m
-->

{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block content %}

<div class="container mb-4">
  <div class="row">
        <div id="accordion" class="accordion">
          {% for title, content in accordion_data %}
          <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                        {{ title }}
                    </button>
                </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                 <div class="card-body">
                   {{ content|safe }}
                 </div>
             </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
